@charset "utf-8";

        .body {
            font-family: Arial, sans-serif;
        }
        .header {
            background-color:  #fbb89c;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header h1 {
            margin: 0;
            font-size: 20px;
        }
        .header a{
            color: black;
        }
        .header a:visited{
            color: black;
        }
        .logout {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .logout button {
            margin-top: 5px;
        }
        #form {
            width: 70%;
            margin: auto;
            background-color: #f0f8ff;
            text-align: center;
        }
        .content {
            padding: 20px;
        }
        .announcement {
            margin-bottom: 20px;
        }
        .announcement table {
            width: 100%;
            border-collapse: collapse;
        }
        .announcement th, .announcement td {
            border: 1px solid #000;
            text-align: left;
            padding: 5px;
        }
        .buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .buttons button{
            font-size: 18px;
            padding: 10px 20px;
        }
        